@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}
.resource-form {
  margin-top: 100px;
}

.active-resource {
  background-color: #3140aa;
  padding: 50px;
  text-align: center;
  color: white;
  heigh: 300px;
}

.active-resource .resource-name {
  font-size: 30px;
  heigh: 50px;
}
.active-resource .elapsed-time {
  font-size: 64px;
  font-white: bold;
  heigh: 100px;
}

.active-resource .time-wrapper {
  heigh: 100px;
}
